.project {

    &__card {
        border: 1px solid rgba($color: #000000, $alpha: 0.125);
        border-radius: .25rem;
        margin: 1.5rem 1rem;
    }

    &__card-link {
            color: #B84E63; }
            a:focus, a:hover, a:active {
              color: #973c4e; } 
    }
