.footer {
    &__social-link {
        width: 44px;
        height: 44px;
        color: white;
        border: 3px solid white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        

        &:hover,
        &:focus,
        &:active {
            background-color: $white;
            border-color: $white;
            color: $secondary;
            text-decoration: none;
        }
    }
}