.footer {
    &__social-link {
        align-items: center;
        border: 3px solid $white;
        border-radius: 50%;
        color: $white;
        display: flex;
        height: 44px;
        justify-content: center;
        width: 44px;

        &:hover,
        &:focus,
        &:active {
            background-color: $white;
            border-color: $white;
            color: $secondary;
            text-decoration: none;
        }
    }
}
