.nav {
    @include heading-font;
    padding-bottom: 1rem;
    padding-top: 1rem;
    position: sticky;
    top: 0;
    z-index: 1030;

    &__navbar-brand,
    &__item-link {
        color: $white;

        &:hover {
            color: $primary;
        }

        &:active,
        &:focus {
            color: $white;
        }

        &.active {
            color: $primary;
        }
    }

    &__toggler {
        background-color: $primary;
        border-color: $primary;
        font-size: 80%;
        padding: 0.8rem;

        &:hover,
        &:focus,
        &:active {
            background-color: darken($primary, 10%);
            border-color: darken($primary, 10%);
        }
    }

    &__list {
        letter-spacing: 0.0625rem;
        margin-top: 1rem;
    }
}

.header {
    &__hero {
        padding-bottom: 6rem;
        padding-top: 6rem;
    }

    &__heading {
        @include heading-font;
        font-size: 3rem;
        line-height: 3rem;
    }

    &__subheading {
        @include body-font;
        font-size: 1.3rem;
    }
}
