.technologies {

    &__list-icon {
        display: flex;
    }

    &__icon {
        font-size: 100px;
        padding-top: 40px;
        transition: all .3s ease-in-out;
        &:hover {
            transform: scale(1.4);
        }
    }   

    &__foo_svg-bootstrap {
        width: 140px;
        height: 140px;
        padding-top: 30px;
        transition: all .3s ease-in-out;
        &:hover {
            transform: scale(1.4);
        } 
    }
}

