body {
  font-family: 'Lato'; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat'; }

section {
  padding: 6rem; }

.nav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 700;
  font-family: 'Montserrat'; }
  .nav__navbar-brand {
    color: #fff; }
  .nav__toggler {
    font-size: 80%;
    padding: 0.8rem; }
  .nav__list {
    margin-top: 1rem;
    letter-spacing: 0.0625rem; }
  .nav__item-link {
    color: #fff; }
    .nav__item-link:hover {
      color: #B84E63; }
    .nav__item-link:active, .nav__item-link:focus {
      color: #fff; }
    .nav__item-link.active {
      color: #B84E63; }

.header__hero {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem; }
.header__heading--uppercase {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 700;
  font-family: 'Montserrat'; }
.header__subheading {
  font-size: 1.3rem;
  font-family: 'Lato'; }

.project__card {
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
  margin: 1.5rem 1rem; }
.project__card-link {
  color: #B84E63; }
.project a:focus, .project a:hover, .project a:active {
  color: #973c4e; }

.footer__social-link {
  width: 44px;
  height: 44px;
  color: white; }

a {
  color: #fff; }
  a:focus, a:hover, a:active {
    color: #973c4e; }

.btn {
  border-width: 2px; }

.bg-primary {
  background-color: #B84E63 !important; }

.bg-secondary {
  background-color: #1d263b !important; }

.text-primary {
  color: #B84E63 !important; }

.text-secondary {
  color: #1d263b !important; }

.btn-primary {
  background-color: #B84E63;
  border-color: #B84E63; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #973c4e;
    border-color: #973c4e; }

.btn-secondary {
  background-color: #1d263b;
  border-color: #1d263b; }
  .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    background-color: #0c1019;
    border-color: #0c1019; }
