<div class="col col-md-4">
    <div class="project__card card-flex-md">
        <div class="project__card-body card-body d-flex flex-column align-items-start">
            <h4 class="project__card-title card-title d-inline-block mb-2 text-secondary text-uppercase">@@title</h4>
            <p class="project__card-paragraph card-text mb-auto">
                @@if (title === 'calculator') { A calculator app made with create-react-app that provides the basic
                arithmetic operations. } @@if (title === 'my portfolio') { Simple responsive one-page portfolio website.
                Using Bootstrap, Sass and JavaScript. } @@if (title === 'omnifood') { This is simple responisive
                one-page website featuring Omnifood brand. Using subtel CSS animations. }
            </p>
            <ul class="list-inline mb-0 py-3">
                <li class="list-inline-item"><i class="project__icon fab fa-fw fa-html5"></i></li>
                <li class="list-inline-item"><i class="project__icon fab fa-fw fa-css3-alt"></i></li>

                <li class="list-inline-item">
                    @@if (title === 'calculator' || title === 'my portfolio') {
                    <i class="project__icon fab fa-fw fa-js"></i> }
                </li>
                <li class="list-inline-item">
                    @@if (title === 'calculator') { <i class="project__icon fab fa-fw fa-react"></i> }
                </li>
                <li class="list-inline-item">
                    @@if (title === 'my portfolio') { <i class="project__icon fab fa-fw fa-sass"></i> }
                </li>
            </ul>
            <footer class="d-flex">
                @@if (title === 'calculator') {
                <a class="project__card-link card-link" href="https://github.com/marthehe/Calculator">
                    <i class="project__card-link_icon fab fa-fw fa-github"></i> Source
                </a>
                <a class="project__card-link card-link" href="https://marthehe.github.io/calculator/">
                    <i class="project__card-link_icon fab fa-fw fa-chrome"></i> Live
                </a>
                } @@if (title === 'omnifood') {
                <a
                    class="project__card-link card-link"
                    href="https://github.com/marthehe/marthehe.github.io/tree/master/food"
                >
                    <i class="project__card-link_icon fab fa-fw fa-github"></i> Source
                </a>
                <a class="project__card-link card-link" href="https://marthehe.github.io/food/">
                    <i class="project__card-link_icon fab fa-fw fa-chrome"></i> Live
                </a>
                } @@if (title === 'my portfolio') {
                <a class="project__card-link card-link" href="https://github.com/marthehe/my-portfolio">
                    <i class="project__card-link_icon fab fa-fw fa-github"></i> Source
                </a>
                <a class="project__card-link card-link" href="https://marthehe.github.io/my-portfolio/">
                    <i class="project__card-link_icon fab fa-fw fa-chrome"></i> Live
                </a>
                }
            </footer>
        </div>
    </div>
</div>
